@import url("style.css");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fonte-texto);
    background: var(--cor-plano-de-fundo);
}

/* container 1*/
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
}

/* títulos e textos  */
.hero__content {
    width: 45%;
}

.hero__title {
    color: var(--cor-azul-escuro);
}

.hero__title, .hero__title--highlight {
    line-height: 120%;
    font-size: 50px;
}

.hero__title--highlight { 
    color: var(--cor-ciano-2); 
    display: block;
}

.hero__description {
    font-size: 20px;
    color: var(--cor-azul-escuro);
    margin-top: 20px;
}

.hero__subtitle {
    color: var(--cor-azul);
    font-size: 30px;
    padding-top: 15px;
}

/* imagens */

#hero__mockup {
    display: flex;
    width: 500px;
    height: auto;
}

/* container 2 */
.features__container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: -20px 5% 50px 5%; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.features__card {
    text-align: center;
    width: 22%;
}

.features__card-title {
    font-size: 22px;
    color: var(--cor-azul);
    margin-bottom: 10px;
    text-align: center;
}

.features__card-text {
    font-size: 16px;
    color: var(--cor-azul-escuro);
    border-right: 1px solid #6666662c;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.features__card:last-child .features__card-text  /*pseudo-seletor seleciona o ultimo item do features__item e remove o estilo da borda*/{
    border-right: none;
}

.card__icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cor-azul);
    color: white;
    line-height: 0; /* Às vezes o line-height do parágrafo empurra o ícone */
}


/*footer*/
.footer__copyright {
    color: var(--cor-azul-escuro);
    text-align: center;
    justify-content: center;
}