@import url("style.css");

/*main*/
html {
    font-family: var(--fonte-texto);
}
/*titulo*/
.section__titulo {
    background-image: linear-gradient(to right, var(--cor-azul), var(--cor-azul-bebe));
    -webkit-background-clip: text; /* recorta o fundo para o tamanho do texto*/
    -webkit-text-fill-color: transparent; /*deixa o texto transparente para mostrar o fundo*/
}
#titulo__background1 {
    display: inline-flex;
    align-items: center;
    padding: 5px 25px;
    background-color: #99D1D5;
    border-radius: 50px;
    width: 320px;
    height: 45px;
    margin: 30px 0px 10px 30px;
}
#titulo__background2 {
    display: inline-flex;
    align-items: center;
    padding: 5px 25px;
    background: linear-gradient(to right, #F0FFFF);
    border: 1px solid #99D1D5;
    border-radius: 50px;
    width: 250px;
    height: 45px;
    margin: 0px 0px 0px -25px;
}
.section__titulo2 {
    font-family: var(--fonte-texto);
    color: var(--cor-branco);
    font-size: 45px;
    margin: 0 0 15px 0;
}

/*p*/
.section__p, .section__p2 {
    color: var(--cor-azul-escuro);
    margin: 0 0 15px 0;
    word-wrap: break-word;
    width: 80%;
}

.section__p {
    margin: 15px 0 0 35px;
}
.section__p2 {
    color: var(--cor-branco);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/*img*/
.div__container {
    margin-top: 30px;
    background: linear-gradient(to right, var(--cor-azul-bebe), var(--cor-azul));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 380px;
    padding: 0 50px;
    gap: 20px;
}
.containter__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#img__oceano {
    width: 300px;
    height: auto;
    border-radius: 15px;
    transform: rotate(270deg);
    margin: 70px;
}

/*footer*/
#footer__p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: var(--cor-azul);
}

@media (max-width: 480px) /*mobile*/{
    #section__titulo {
    font-size: 20px;
}
    .titulo__background1 {
        width: 220px;
        height: 43px;
}
    .titulo__background2 {
        width: 176px;
        height: 43px;
    }
    .div__container {
        height: auto;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img__oceano {
        width: 250px;
        margin-top: 0px;
    }
    .section__titulo2 {
        margin-top: -100px;
        font-size: 40px;
    }
    .section__p, .section__p2 {
        font-size: 16px;
    }
    .section__p2 {
        width: 100%;
    }
    #footer__p {
        margin-top: 105px;
    }
}