@import url("style.css");

:root {
    --fonte-serifada: 'Libre Caslon Text', serif;
}
html {
    height: 100vh;
    background: linear-gradient(45deg, var(--cor-branco), var(--cor-azul-bebe))
}
/*Login*/
.login__container {
    flex: 1; 
    display: flex;
    flex-direction: row;
    align-items: center;    /* Centraliza verticalmente*/
    justify-content: center;
    width: 100%;
}
.form-login {
    display: flex;
    flex-direction: column;

}
.form-login__field {
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 450px;
    height: auto;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    border: 0;
    background-color: var(--cor-azul-bebe);  

}
.form-login__button {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    text-align: center;
    border-radius: 20px;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}
.form-login__button:hover {
    color: var(--cor-azul);
    background-color: var(--cor-branco);
    transition: 0.3s;
}
/*container pai*/
.login__page {
    display: flex;
    width: 100%;
}
/*container da direita*/
.login-container__aside {
    height: 92vh;
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    color: var(--cor-branco);
    background: linear-gradient(45deg, var(--cor-azul), var(--cor-azul-bebe));
    padding: 60px;
    min-height: 80vh;
    box-sizing: border-box; /* padding não quebra a altura */
}
/*titulo*/
.login__title {
    text-align: center;
    font-size: 30px;
    color: var(--cor-azul);

}
/*Labels*/
.form-login__label {
    color: var(--cor-azul-escuro);
    font-size: 20px;
}
/*Inputs*/
.form-login__input {
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px solid var(--cor-azul);
}
/*conteúdo do banner*/
.banner-content {
    margin: 0;
    line-height: 0.8;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}
.banner-title {
    font-weight: 700;
    text-transform: lowercase;
    display: inline-block;
}
.banner-title--highlight {
    font-family: var(--fonte-serifada);
    font-style: italic;
    font-weight: 400;
    text-transform: lowercase;
    display: inline-block;
    margin-right: 15px; 
}

.banner-title--highlight, .banner-title {
    padding: 10px;
    font-size: 5.5rem;
}
.banner__logo-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.banner__logo-img {
    max-width: 100%;
    height: auto;
}
/*modal*/
.modal {
    display: flex;
    visibility: hidden;
    position: fixed; /*fixa o modal na tela*/
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center; /*vertical*/
    justify-content: center; /*horizontal*/
}

.modal-content {
    background-color: var(--cor-branco);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative; /*permite o uso do position absolut na area definida */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(0.7); /* Começa menor */
    transition: transform 0.4s ease-out;
}
.modal--active { /*ativacao pelo js*/
    visibility: visible;
    opacity: 1;
}
/* quando o modal ativar, o conteúdo cresce para o tamanho normal */
.modal--active .modal-content {
    transform: scale(1);
}

.close-button {
    position: absolute; /*posiciona o 'x' de forma livre*/
    right: 15px; top: 10px;
    cursor: pointer; /*muda o ponteiro*/
    font-size: 24px;
    color: var(--cor-azul);
}

/*titulo*/
.modal-title {
    color: var(--cor-azul);
}

@media (max-width: 768px) { /*tablet*/
    .login__page {
        flex-direction: column-reverse; /* Banner em cima, Login embaixo (ou vice-versa) */
    }

    .login-container__aside {
        display: none;
    }

    .login__container {
        padding: 40px 20px;
    }

    .form-login__field {
        width: 100%;
        padding: 25px;
    }
    
    .login__title {
        font-size: 28px;
    }
}