@import url("style.css");

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-texto);
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: linear-gradient(to right, var(--cor-azul-bebe), var(--cor-azul), var(--cor-ciano));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.faq {
    flex: 1;
    display: flex;
    padding: 20px;
}

.faq-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #efefef;
}

.faq-left img {
    width: 90%;
    max-height: 100%;
    object-fit: contain;
}

.faq-right {
    width: 50%;
    background: #efefef;
    padding: 30px;
}

.faq__titulo {
    color: #1aa7a1;
    font-size: 50px;
    margin-bottom: 25px;
}


.item {
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
}

.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--cor-azul-escuro);
    font-weight: 700;
}


.toggle {
    background: none;
    border: none;
    font-size: 25px;
    color: #1aa7a1;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.item.ativo .toggle {
    transform: rotate(180deg);
}


.resposta {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}


.item.ativo .resposta {
    max-height: 200px;
    opacity: 1;
    margin-top: 10px;
}

.item.ativo .resposta {
    display: block;
}


.duvida {
    margin-top: 25px;
    font-size: 30px;
    color: #1aa7a1;
}


.btn-faq {
    display: inline-block;
    margin-top: 8px;
    background: #1aa7a1;
    color: var(--cor-branco);
    font-size: large;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

#footer__p {
    color: var(--cor-branco);
    text-align: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

@media (max-width: 768px) {

    .faq {
        flex-direction: column; /* empilha */
        padding: 15px;
    }

    .faq-left,
    .faq-right {
        width: 100%;
        padding: 20px;
    }

    .faq-left {
        border: none; /* remove borda no mobile */
    }

    .faq-left img {
        width: 100%;
        max-height: 250px; /* evita imagem gigante */
    }

    .faq-right {
        padding: 20px;
    }

    .faq__titulo {
        font-size: 32px;
        text-align: center;
    }

    .pergunta p {
        font-size: 16px;
    }

    .duvida {
        font-size: 22px;
        text-align: center;
    }

    .btn-faq {
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 1024px) {

    .faq {
        flex-direction: column;
    }

    .faq-left,
    .faq-right {
        width: 100%;
    }

    .faq-left img {
        max-height: 300px;
    }
}