/*reset da pagina + fontes e paleta de cores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-ciano: #41C6C4;
    --cor-azul: #13969F;
    --cor-turquesa: #459796;
    --cor-azul-bebe: #99D1D5;
    --cor-branco: #FFFFFF;
    --cor-azul-escuro: #206F74;
    --fonte-texto: 'Hind', sans-serif;
}

body {
    font-family: --fonte-texto;
    min-height: 100vh;
}

/*nav bar em todas as pag*/

.header__cabecalho {
    background: linear-gradient(to right, var(--cor-azul-bebe), var(--cor-azul), var(--cor-ciano));
    width: 100%;
    height: 70px;
}

.nav__container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 0 50px; /* espaçamento */
}

#img__logotipo {
    width: 110px;
    margin: 20px;
    margin-left: 50px;
}
.nav__a {
    position: relative; 
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 16px;
    font-family: var(--fonte-texto);
    margin-top: -150px;
    align-items: center;
    height: 100%;
    padding: 10px;
}
.nav__a::after { 
    content: '';
    position: absolute; 
    left: 0px;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: var(--cor-branco);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__a:hover::after {
    transform: scaleX(1); /*a linha aparece*/
}

@media (max-width: 480px) /*mobile*/ {
    .header__cabecalho {
        height: auto; 
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #img__logotipo {
        padding: 0;
        margin-bottom: 20px; 
        width: 180px;
    }

    .nav__container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 90px;
    }

    .nav__a {
        font-size: 18px;
        padding: 10px;
        white-space: nowrap;
        line-height: 1;
    }
    .nav__a::after { 
    bottom: -25px;
    }
}

@media (max-width: 768px) /*tablet*/ {
    .header__cabecalho {
        height: auto;
        min-height: 250px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #img__logotipo {
        padding: 0;
        margin-bottom: 30px; 
        width: 220px;
    }

    .nav__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 30px;
        padding: 0;
    }

    .nav__a {
        margin-left: 0;
        font-size: 22px;
        padding: 5px;
        white-space: nowrap;
        margin-top: 10px;
    }
    .nav__a::after { 
    bottom: -5px;
    }
}
